@model HomeViewModel;
<div class="jumbotron d-flex align-items-center" style="background-image: url(img/hero-2.jpg)">
    <div class="container text-center">
        <h1 class="display-2 mb-4">@Model.jumborton.Title </h1>
        <p>
            @Model.jumborton.Text
        </p>
    </div>
</div>
<section id="gtco-who-we-are" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap">
                <h2 class="section-title">The easiest way <br>to build<b> websites online</b></h2>
                <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a <br> pharetra augue. Donec id elit non mi porta gravida at eget metus.</p>
            </div>

            <div class="row text-center">
                @foreach (Counter item in Model.counter)
                {
    <div class="col-md-4 col-sm-6 ">
        <img class="rounded-circle" src="~/@item.Icon " alt="Generic placeholder image" width="140" height="140">
        <h5 class="mb-4">@item.Title</h5>
        <p>@item.Text </p>
        <p><a class="btn btn-link" href="@item.Link " role="button">View details</a></p>
    </div>}
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>
<!-- Counter Section -->
<section id="gtco-counter" class="overlay bg-fixed">
    <div class="container">
        <div class="section-content">
            <div class="row">
                @foreach (CounterItem item in Model.counterItem)
                {<!-- Counter Item -->
                                    <div class="col-md-3 col-sm-6 counter-item">
                                        <i class="lnr @item.Icon "></i>
                                        <span class="number" data-from="0" data-to="34" data-refresh-interval="100">@item.Number </span>
                                        <h4>@item.Text </h4>
                                    </div> <!-- End of Counter Item -->}
            </div>
        </div>
    </div>
</section>
<!-- End of Counter Section -->
<!-- Features Section-->
<section id="gtco-features" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">
                    All the  <span>need </span>that you <span>want</span>
                </h2>
                <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <br> pharetra augue. Donec id elit non mi.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-12 features-holder">
                    <div class="row">
                        @foreach (Feature item in Model.features)
                        {<!-- Features Item -->
                                            <div class="col-md-4 col-sm-6 feature-item item mb-3 mb-3 text-center">
                                                <div class="my-4">
                                                    <i class="lnr @item.Icon fs-40"></i>
                                                </div>
                                                <h4>@item.Title</h4>
                                                <p>@item.Text</p>
                                            </div> <!-- End of Feature Item -->}
                    </div>
                </div>
                <!-- End of Features Holder-->
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section-->
<section id="gtco-section-featurettes" class="featurettes bg-white">

    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Section Title -->
                    <div class="title-wrap">
                        <h2 class="section-title">
                            <b>Brand new</b> social media,<br> different than any other one
                        </h2>
                        <p class="section-sub-title">
                            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a <br>pharetra augue. Donec id elit non mi porta gravida at eget metus.
                        </p>
                    </div>
                    <!-- End of Section Title -->
                    @foreach (SocialMedia item in Model.socialMedias)
                    {
                        if (item.Id % 2 == 0)
                        {
        <div class="featurettes-wrap text-left">

            <div class="row featurettes-item">

                <div class="col-md-4 offset-md-2 col-sm-6">
                    <img class="my-4" src="~/@item.Img " alt="">
                </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                <div class="col-md-4 offset-md-right-2 col-sm-6 mb-5">
                    <div class="my-4">
                        <span class="lnr @item.Icon fs-40 color-primary"></span>
                    </div>
                    <h4 class="mb-4">@item.Title</h4>
                    <p>@item.Text </p>
                </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

            </div><!--/ .featurettes-item -->

        </div><!--/ .featurettes-wrap --> }
    else
    {
<div class="featurettes-wrap text-left mb-4">

    <div class="row featurettes-item">

        <div class="col-md-4 offset-md-2 col-sm-6">
            <div class="my-5">
                <span class="lnr @item.Icon fs-40 color-primary"></span>
            </div>
            <h4 class="mb-4">@item.Title</h4>
            <p>@item.Text</p>
        </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->
        <div class="col-md-4 offset-md-right-2 col-sm-6">
            <img class="my-5" src="~/@item.Img" alt="">
        </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

    </div><!--/ .featurettes-item -->

</div><!--/ .featurettes-wrap -->}
}
                    <div class="featurettes-wrap text-left">

                        <div class="row featurettes-item">

                            <div class="col-md-4 offset-md-2 col-sm-6 offset-sm-0">
                                <h4 class="mb-4">Ready to join our App for your advance social experience?</h4>
                                <p>Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet.</p>
                            </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                            <div class="col-md-4 offset-md-right-2 col-sm-6 text-center">
                                <a href="#0"><img class="btn-img my-4" src="img/appstore-btn.png" alt=""></a>
                                <a href="#0"><img class="btn-img" src="img/playstore-btn.png" alt=""></a>
                            </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                        </div><!--/ .featurettes-item -->

                    </div><!--/ .featurettes-wrap -->

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
    </div><!--/ .container -->
</section>
<!-- Blog Section -->
<section id="gtco-blog" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5">
                <h2 class="section-title">Latest <b>news</b></h2>
                <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
            <div class="row">
                <!-- Blog -->
                <div class="col-md-12 blog-holder">
                    <div class="row">
                        @foreach (News item in Model.news)
                        {<!-- Blog Item -->
                                            <div class="col-md-4 blog-item-wrapper">
                                                <div class="blog-item">
                                                    <div class="blog-img">
                                                        <a href="single.html"><img src="~/@item.Img" alt=""></a>
                                                    </div>
                                                    <div class="blog-text">
                                                        <div class="blog-tag">
                                                            <a href="#"><h6><small>@item.Category</small></h6></a>
                                                        </div>
                                                        <div class="blog-title">
                                                            <a href="single.html"><h4>@item.Title</h4></a>
                                                        </div>
                                                        <div class="blog-meta">
                                                            <p class="blog-date">@item.Date.ToString("dd.MM.yy") </p> /
                                                            <p class="blog-comment"><a href="">@item.Comments Comments</a></p>
                                                        </div>
                                                        <div class="blog-desc">
                                                            <p>@item.Text</p>
                                                        </div>
                                                        <div class="blog-author">
                                                            <p>by @item.Author</p>
                                                        </div>
                                                        <div class="blog-share-wrapper">
                                                            <a class="blog-share" href="google.com">
                                                                <i class="fab fa-facebook-square"></i>
                                                            </a>
                                                            <a class="blog-share" href="google.com">
                                                                <i class="fab fa-twitter-square"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- End of Blog Item -->}
                    </div>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End of Blog Section -->
<!-- Portfolio Section -->
<section id="gtco-portfolio" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">Our <b>Awesome</b> Works</h2>
                <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <br> pharetra augue. Donec id elit non mi.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Portfolio Holder -->
                <div class="col-md-12 portfolio-holder">
                    <!-- Btn Filter -->
                    <div class="filter-button-group btn-filter d-flex justify-content-center">
                        @foreach (Category item in Model.categories)
                        {
            <a tabindex="0" data-filter=@(Model.categories.IndexOf(item)==0? "*" : "."+(@item.Name.ToLower()))>@item.Name</a>}

                    </div>
                    <!-- End of Btn Filter -->
                    <!-- Portfolio Content -->
                    <div class="grid-portfolio">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        @foreach (Portfolio item in Model.portfolios)
                        {<!-- Portfolio Item -->
                            <div class="grid-item @item.Category.Name.ToLower()">
                                <div class="grid-item-wrapper">
                                    <img src="~/@item.Img" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase" href="img/photo-1.jpg" title="Photo-1">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>@item.Title</h4>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- End of Portfolio Item -->}


                    </div>
                    <!-- End of Portfolio Content -->
                </div>
                <!-- End of Portfolio Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Portfolio Section -->
<section id="gtco-pricing" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">Pricing</h2>
                <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <br> pharetra augue. Donec id elit non mi.</p>
            </div>
            <!-- End of Section Title -->
            <div class="card-deck mb-3 text-center">
                @foreach (Pricing item in Model.pricings)
                {
                    <div class="price-box card mb-4 box-shadow">
                        <div class="card-header p-4">
                            <h6 class="mb-0 text-orange font-weight-bold">@item.Category</h6>
                            <h2 class="display-4 p-2 mb-0 font-weight-bold">@item.GB<small class="align-top">GB</small></h2>
                            <p class="mb-0">@item.Recommendation</p>
                        </div>
                        <div class="card-body p-4">
                            <ul class="price-box-list list-unstyled mt-3 mb-4">
                                <li>@item.Text</li>
                            </ul>
                            <h2 class="card-title pricing-card-title mb-0 font-weight-bold">$@item.Price</h2>
                            <p>/month</p>
                            <a href="@item.Link" class="btn btn-block btn-secondary btn-orange mt-4">Buy Now</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /END PRICING -->
</section>
<!-- Client Section -->
<section id="gtco-client" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">
                    Who love to <b> work</b> with us
                </h2>
            </div>
            <!-- End of Section Title -->
            <div class="row ">
                @foreach (Client item in Model.clients)
                {
                    <div class="col-md-2">
                        <!-- Client Item -->
                        <div class="client-item">
                            <img class="img-responsive" src="~/@item.Image" alt=" ">
                        </div>
                        <!-- End of Client Item  -->
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End of Client Section -->
